#container
{
    width: 90%;
    margin-right: 8%;
}

#mainheader 
{
    width: 99%;
    height: 100%;
    margin-bottom: 2%;
    float: left;
    background-size: auto;
    background-position: left;
}

main
{
    width: 100%;
    margin-left: 0;
    padding: 7px;
}

nav
{
    width: 100%;
    margin-top: -13%;
}
    
#mainnavigation li
{
    display: inline;
}

#mainnavigation a
{
    margin-left: 0;
    padding-left: 0;
    width: 100%;
    text-align: center;
}

footer 
{
    float: left;
    width: 106%;
}

body
{
    font-size: 73%;
}

img
{
    width: 95%;
    height: auto;
    float: left;
}

video
{
    width: 100%;
}

#sprites-list a
{
    display: none;
}

.bubble
{
    width: 90%;
}
