/*Background content: #F8DCFF #F6CFFF
  Background nav: #929CA8 #7D829D #A99EBF #9FA4BF
  Background header: #D3B8FF #D8C4FF
  Background footer: #9CBBCE #B6D3E5 #B3D2E5 #C6CFFF #D4DBFF
  Text-color: #FFF 
  Background hover: #913EA6
*/

#container {
            width: 958px;
            margin: 0 auto;
            background-attachment: fixed;
            border: 1px solid black;
}

    
#header {
         width: 956px;
         border: 1px solid black;
         background-color: #D8C4FF;
}


#navigation {
             width: 198px;
             float: left;
             border: 1px solid black;
             background-color: #9FA4BF;
}

#content {
          width: 736px;
          float: right;
          padding: 10px;
          border: 1px solid black;
}

#footer {
         text-align: center; 
         background-color: #B3D2E5;
}

.clear {
        clear: both;
}

a:link {
        color: #6011F9;
}

a:visited {
        color: #2D1164;
}

a:hover, a:active {
        color:#FFF;
        background: #3E2C62;
}




