/*Background content: #F8DCFF #F6CFFF
  Background nav: #929CA8 #7D829D #A99EBF #9FA4BF
  Background header: #D3B8FF #D8C4FF
  Background footer: #9CBBCE #B6D3E5 #B3D2E5 #C6CFFF #D4DBFF
  Text-color: #FFF 
  Background hover: #913EA6
  color: #3E2C62 (lila)
*/


/*Layout*/
#container 
{
    width: 958px;
    margin: 0 auto;
    background-attachment: fixed;
    /*border: 1px solid black;*/
}

#header 
{
    width: 938px;
    height: 140px;
    padding: 10px;
    color: #FFF;
    background-image: url(../pics/vivislogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 958px 157px;
}

#navigation 
{
    width: 960px;
    float: left;
    margin-top: -58px;
}

#content 
{
    width: 936px;
    float: left;
    padding: 10px;
    margin-top: -2px;
    border: 1px solid black;
}

#footer 
{
    text-align: center; 
    background: #474A4A;
    color: #FFF;
    font-family: "Carme", "Arial", sans-serif;
}

.clear 
{
    clear: both;
}

/*markerar aktivt fält*/
#menu
{
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
#menu li
{
    display: inline;
}

#menu a
{
    display: block;
    float: left;
    text-decoration: none;
    background: #474A4A;
    color: #FFF;
    margin-left: 5px;
    padding: 10px 15px;
    border: 1px solid #FFF;
    width: 150px;
    font-family: "Carme", "Arial", sans-serif;
}

a#current 
{
    background: #676B6B;
}

#menu a:hover
{
    background: #7D7B7A;
}

a:link 
{
    color: #6011F9;
}

a:visited 
{
    color: #2D1164;
}

a:hover, a:active 
{
    color:#FFF;
    background: #9FA4BF;
    /*background: #3E2C62;*/
}

/*typografi*/
body
{
    font-family: "Carme", "Arial", sans-serif;
    font-size: 14px;
    line-height: 23px;
}

h2
{
    font-size: 20px;
    padding: 5px;
}

figure
{
    float: right;
}

figcaption
{
    font-family: "Carme", "Arial", sans-serif;
}

/*delar upp blogginläggen*/
.compose
{
    border-bottom: double;  
    background-image: url(pics/creative-writing_32x32.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 16px;
}

.left
{
    float: left;
    margin: 6px 25px 10px 6px;
    background: #e8eae9;
    border: 1px solid #c6c9cc;
    padding: 4px;
}

.form
{
    width: 400px;
    padding: 15px 0px 20px 50px;
    border: 1px solid #474A4A;
    margin: 10px;
    background: #C5C7B4;
}

.form legend
{
    padding: 2px 2px 2px 3px;
    letter-spacing: 3px; 
    border: 1px solid;
    margin-left: -30px;
    background: #474A4A;
    color: #FFF;
}

.form select
{
    font-family: "Carme", "Arial", sans-serif;
    font-size: 12px;
    border: 1px solid #474A4A;
}

.input_text
{
    border: 1px solid #474A4A;
}

.input_send
{
    font-family: "Carme", "Arial", sans-serif;
    background: #474A4A;
    color: #FFF;
}

#sprites-list a
{
    width: 24px;
    height: 24px;
    display: block;
    background-image: url(pics/sprite.png);
    text-indent: -9999px;
}

#sprites-list li
{
    float: right;
    list-style-type: none;
    margin-right: 10px;
}

#home-icon 
{
 background-position: 0 312px;   
}

#home-icon:hover
{
 background-position: 0 0;   
}

#pic-icon 
{
 background-position: 0 120px;   
}

#pic-icon:hover
{
 background-position: 0 168px;  
}

#hammer-icon 
{
 background-position: 0 216px;   
}

#hammer-icon:hover
{
 background-position: 0 264px;  
}



