/*Background content: #F8DCFF #F6CFFF
  Background nav: #929CA8 #7D829D #A99EBF #9FA4BF
  Background header: #D3B8FF #D8C4FF
  Background footer: #9CBBCE #B6D3E5 #B3D2E5 #C6CFFF #D4DBFF
  Text-color: #FFF 
  Background hover: #913EA6
  color: #3E2C62 (lila)
*/

/*Layout*/
#container 
{
    width: 958px;
    margin: 0 auto;
    background-attachment: fixed;
    border: 1px solid black;
}

#header 
{
    width: 938px;
    height: 100px;
    padding: 10px;
    color: #FFF;
    background-image: url(../pics/vivislogo.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 958px 120px;
}

#navigation 
{
    width: 200px;
    float: left;
    background-color: #FFF;
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
}

#content 
{
    width: 736px;
    float: left;
    padding: 10px;
    border: 1px solid black;
}

#footer 
{
    text-align: center; 
    background: #474A4A;
    color: #FFF;
    font-family: "Carme", "Arial", sans-serif;
}

.clear 
{
    clear: both;
}

/*markerar aktivt fält*/
#navigation a
{
    display: block;
    text-decoration: none;
    background: #474A4A;
    color: #FFF;
    padding: 10px 15px;
    border-bottom: 2px solid #FFF;
    width: 170px;
    font-family: "Carme", "Arial", sans-serif;
}

a#current 
{
    background: #676B6B;
}

#navigation a:hover
{
    background: #989E9E;
}

/*a {
    padding: 1em  0;
    position:relative;
}*/

a:link 
{
    color: #6011F9;
}

a:visited 
{
    color: #2D1164;
}

a:hover, a:active 
{
    color:#FFF;
    background: #9FA4BF;
    /*background: #3E2C62;*/
}


/*typografi*/
body
{
    font-family: "Carme", "Arial", sans-serif;
}

h1 
{
    font-family: "ABeeZee", "Arial", sans-serif;
}

h2 
{
    font-family: "ABeeZee", "Arial", sans-serif;
}

h3 
{
    font-family: "ABeeZee", "Arial", sans-serif;
}

/*
div > p 
{
    font-family: "Carme", "Arial", sans-serif;
}

h1 p 
{
    font-family: "Carme", "Arial", sans-serif;
}

h2 p 
{
    font-family: "Carme", "Arial", sans-serif;
}

h3 p 
{
    font-family: "Carme", "Arial", sans-serif;
}



ol 
{
    font-family: "Carme", "Arial", sans-serif;
}

dt 
{
    font-family: "Carme", "Arial", sans-serif;
}

dd 
{
    font-family: "Carme", "Arial", sans-serif;
}

dd a 
{
    font-family: "Carme", "Arial", sans-serif;
    font-size: 90%;
}

ul li 
{
    font-family: "Carme", "Arial", sans-serif;
    font-size: 90%;
}

tr 
{
    font-family: "Carme", "Arial", sans-serif;
}

td 
{
    font-family: "Carme", "Arial", sans-serif;
}

figure
{
    float: right;
}
figcaption
{
    font-family: "Carme", "Arial", sans-serif;
}
*/

/*delar upp blogginläggen*/
.compose
{
    border-bottom: double;  
    background-image: url(pics/creative-writing_32x32.png);
    background-repeat: no-repeat;
    background-position: top left;
    padding: 16px;
}
/*.right 
{
    float: right;
 
}*/

.left
{
    float: left;
    margin: 6px 25px 10px 6px;
    background: #e8eae9;
    border: 1px solid #c6c9cc;
    padding: 4px;
}

.form
{
    width: 400px;
    padding: 15px 0px 20px 50px;
    border: 1px solid #474A4A;
    margin: 10px;
}

.form legend
{
    /*padding: 2px 2px 2px 3px;*/
    letter-spacing: 3px; 
    border: 1px solid;
    margin-left: -30px;
    background: #474A4A;
    color: #FFF;
}

.form select
{
    font-family: "Carme", "Arial", sans-serif;
    font-size: 12px;
    border: 1px solid #474A4A;
}

.input_text
{
    border: 1px solid #474A4A;
}

.input_send
{
    font-family: "Carme", "Arial", sans-serif;
    background: #474A4A;
    color: #FFF;
}

